<a href="https://colab.research.google.com/github/MancheelaNithinkumar/2025KhubTasks/blob/main/Day-1PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DAY - 1**

Python Basics

complete the below subtopics by your own resources or the resource provided by us.

topics :- \

1) strings and string methods, booleans, and operators

2) list, tuples, sets and dictionaries

3) conditional Statements

4) Match Case

**Strings**



*   Strings in python are surrounded by either single quotation marks, or double quotation marks.

You can display a string literal with the print() function:

In [ ]:
print("Nithin")
print('Nithin')

Nithin
Nithin

**Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello World"
print(a)

Hello World

**Multiline Strings**

You can assign a multiline string to a variable by using three quotes:

In [ ]:
b = """ This
is
multiline
string """

print(b)

 This
is
multiline
string

**Strings are Arrays**



*   Strings in Python use zero-based indexing, meaning the first character is at position 0, the second at position 1, and so on.
*   Square brackets can be used to access elements of the string

In [ ]:
a = "Hello, World!"
print(a[2])

l

**Looping Through a String**

*   Strings are iterable — you can loop over them character by character.

This is possible because strings in Python are sequence types (like lists and tuples).

Each print(x) prints one character on its own line.

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**Explanation:**

The string "banana" is a sequence of characters.

The for loop iterates one character at a time through the string.

On each iteration, the variable x holds the current character.

print(x) prints that character on a new line.

**String Length**

* To get the length of a string, use the len() function.

* The function len() returns the number of characters in the string, including:

 Letters

 Punctuation

 Spaces

In [ ]:
a = "Hello, World!"
print(len(a))

13

len() works on many sequence types in Python:

Strings → len("hi") → 2

Lists → len([1, 2, 3]) → 3

Tuples → len((10, 20)) → 2

**Check String**

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
print("freee" in txt)

False

**Use it in an if statement:**

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

**Check if NOT**

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [ ]:
txt = "The best things in life are free!"
print("freee" not in txt)

True

Use it in an if statement:

In [ ]:
txt = "The best things in life are free!"
if "freee" not in txt:
  print("No, 'freee' is NOT present.")

No, 'freee' is NOT present.

**Slicing**


*   You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

Note: The first character has index 0.

**Slice From the Start**
By leaving out the start index, the range will start at the first character:

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

**Slice To the End**

By leaving out the end index, the range will go to the end:

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

**Negative Indexing**

Indexing vs Negative Indexing
Positive indexing: s[0] → first char, s[1] → second, ..., up to s[len(s)‑1]

Negative indexing: s[-1] → last char, s[-2] → second last, and so on, down to s[-len(s)] (the first char)

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

b = "Hello, World!"
print(b[-5:])

b = "Hello, World!"
print(b[:-2])

orl
orld!
Hello, Worl

**Upper Case**
The upper() method returns the string in upper casea = "Hello, World!"
print(a.upper())

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

**Lower Case**

The lower() method returns the string in lower case:

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

**Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The strip() method removes any whitespace from the beginning or the end:

In [ ]:
a = " Hello, World! "
print(a.strip())

Hello, World!

**String Concatenation**

To concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

TO ADD SPACE BETWEEN THEM

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**F-Strings**

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [ ]:
age = 19
txt = f"My name is NITHN, I am {age}"
print(txt)

My name is NITHN, I am 19

**Placeholders and Modifiers**

A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
#Perform a math operation in the placeholder, and return the result:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

**Escape Characters**

In [9]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

txt = 'It\'s alright.'
print(txt)

txt = "This will insert one \\ (backslash)."
print(txt)

txt = "Hello\nWorld!"
print(txt)

txt = "Hello\rWorld!"
print(txt)

txt = "Hello\tWorld!"
print(txt)

#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

We are the so-called "Vikings" from the north.
It's alright.
This will insert one \ (backslash).
Hello
World!
World!
Hello	World!
Hello World!

**STRING METHODS**

In [16]:
#capitalize
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

#Lower

txt = "Hello my FRIENDS"

x = txt.lower()

print(x)


#upper

txt = "hello my friends"

x = txt.upper()

print(x)

#tittle

txt = "Welcome to my world"

x = txt.title()

print(x)

Hello, and welcome to my world.
hello my friends
HELLO MY FRIENDS
Welcome To My World

**Boolean Values**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [17]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [18]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

The bool() function allows you to evaluate any value, and give you True or False in return,

In [19]:
print(bool("Hello"))
print(bool(15))

True
True

In [20]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [21]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [22]:
def myFunction() :
  return True

print(myFunction())

True

**OPERATOR**

In [25]:
x = 5
y = 3

print(x + y)


x = 5
y = 3

print(x - y)

x = 5
y = 3

print(x * y)

x = 12
y = 3

print(x / y)

x = 5
y = 2

print(x % y)


x = 5
y = 2

print(x % y)

x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

8
2
15
4.0
1
1
32
7