<a href="https://colab.research.google.com/github/MancheelaNithinkumar/2025KhubTasks/blob/main/Day_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DAY 1 Tasks

OPERATION

In [4]:
a, b = 8, 4

#  Arithmetic Operators (Math calculations)
print("Add:", a + b)
print("Subtract:", a - b)
print("Multiply:", a * b)
print("Divide:", a / b)
print("Modulus:", a % b)
print("Power:", a ** b)
print("Floor Division:", a // b)

#  Assignment Operators (Assign values)
x = 3
x += 3
x -= 3
x *= 3
print("x after changes:", x)

#  Comparison Operators (True/False check)
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

#  Logical Operators (Combine conditions)
print(True and False)
print(True or False)
print(not True)

#  Identity Operators (Same memory?)
print(a is b)
print(a is not b)

# Membership Operators (Value present?)
numbers = [1, 2, 3]
print(2 in numbers)
print(5 not in numbers)

 #Bitwise Operators (Work on binary numbers)
print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 1)
print(a >> 1)

Add: 12
Subtract: 4
Multiply: 32
Divide: 2.0
Modulus: 0
Power: 4096
Floor Division: 2
x after changes: 9
False
True
True
False
True
False
False
True
False
False
True
True
True
0
12
12
-9
16
4

LIST

In [5]:

# Lists
countries = ["India", "USA", "Germany"]
print("Countries List:", countries)
countries.append("Japan")
print("After append:", countries)
countries.remove("USA")
print("After remove:", countries)
print("First Country:", countries[0])

Countries List: ['India', 'USA', 'Germany']
After append: ['India', 'USA', 'Germany', 'Japan']
After remove: ['India', 'Germany', 'Japan']
First Country: India

Tuple

In [6]:

# Tuples
animals = ("cat", "dog", "elephant")
print("Animals Tuple:", animals)
print("First Animal:", animals[0])

Animals Tuple: ('cat', 'dog', 'elephant')
First Animal: cat

SETS

In [7]:

# Sets
cities = {"Delhi", "London", "Tokyo"}
print("Cities Set:", cities)
cities.add("New York")
print("After add:", cities)
cities.remove("London")
print("After remove:", cities)

Cities Set: {'Delhi', 'London', 'Tokyo'}
After add: {'Delhi', 'London', 'New York', 'Tokyo'}
After remove: {'Delhi', 'New York', 'Tokyo'}

Dictionaries

In [8]:

# Dictionaries
book = {"title": "Atomic Habits", "author": "James Clear"}
print("Book Data:", book)
print("Title:", book["title"])
book["author"] = "J. Clear"
print("Updated Data:", book)

Book Data: {'title': 'Atomic Habits', 'author': 'James Clear'}
Title: Atomic Habits
Updated Data: {'title': 'Atomic Habits', 'author': 'J. Clear'}

Match case

In [10]:
day = 7

match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")
    case _:
        print("Error")

Sunday